@import "tailwindcss";

* {
  font-family:
    Playfair Display,
    serif;
}

.backgroundImg {
  background-image: url("https://images.unsplash.com/photo-1532012197267-da84d127e765?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  height: 500px;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.homeContainer {
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeInp:focus {
  outline: none;
}
.card {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 350px;
  width: 250px;
  border-radius: 10px;
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.sec2 {
  height: 70vh;
}
.imgContainer {
  height: 230px;
}
.cardImage {
  width: fit-content;
}
.sec3{
  height: 70vh;
}
